:root {
    --site-font: Helvetica, Arial, sans-serif;

    /* General */
    --always-black: #000000;
    --standard-text: #1A1A1A;
    --always-white: #ffffff;
    --site-background: #eceff1;
    --content-background: #ffffff;
    --project-preview: #ffffff;
    --border-project-preview: #f5f5f5;
    --nav-background: linear-gradient(to right, #ffffff, #bfd5ec);
    --default-button: #ffffff;
    --active-nav: #ccdff7;
    --nav-border: #bfd5ec;
    --contact-border: #9c9c9c;
    --anchor-link: #3366CC;
    --content-line: #666666;
    --code-bg: #f3f3f3;
    --experience-date: #444444;

    --toggle-thumb: #ffffff;
    --toggle-track: #ccc;

    --tech-stack-section: #dddddd85;
    --tech-stack-border: #1A1A1A;

    --hover-nav-text: #dee8f3;
    --hover-default-button: #f5f5f5; 
    --hover-anchor-link: #274d99;
    --hover-project-preview: #22222290;
}

[data-theme="dark"] {
    /* General */
    --standard-text: #ffffff;
    --site-background: #111111; /* #141415 is nice too */
    --content-background: #1D1D1D;
    --project-preview: #222222;
    --border-project-preview: #333333;
    --nav-background: linear-gradient(to right, #363636, #0f0f0f);
    --default-button: #444444;
    --active-nav: #111111;
    --nav-border: #555555;
    --project-img-border: #9c9c9c;
    --anchor-link: #83b1e7;
    --content-line: #444444;
    --code-bg: #353535;
    --experience-date: #BBBBBB;
    
    --toggle-thumb: #000000;
    --toggle-track:  #4d4d4d;

    --tech-stack-section: #13131370;
    --tech-stack-border: #383838;

    --hover-nav-text: #1F1F1F;
    --hover-default-button: #555555; 
    --hover-anchor-link: #a0c0e5;
    --hover-project-preview: #ffffff70;
}