:root {
    /* General */
    --standard-text: #1A1A1A;
    --always-white: #ffffff;
    --site-background: #eceff1;
    --content-background: #ffffff;
    --project-preview: #ffffff;
    --nav-background: #ffffff;
    --default-button: #ffffff;
    --active-nav: #dee8f3;
    --nav-border: transparent;
    --contact-border: #9c9c9c;
    --breadcrumb-link: #3e6d8f;
    --content-line: #666666;
    --code-bg: #f0f0f0;

    --toggle-thumb: #ffffff;
    --toggle-track: #ccc;

    --tech-stack-section: #eeeeee;
    --tech-stack-border: #000000;

    --hover-nav-text: #eef2f6;
    --hover-default-button: #f5f5f5; 
    --hover-project-preview: #f5f5f5;
    --hover-breadcrumb-link: #294b64;
}

[data-theme="dark"] {
    /* General */
    --standard-text: #ffffff;
    --site-background: #111111; /* #141415 is nice too */
    --content-background: #1A1A1A;
    --project-preview: #222222;
    --nav-background: #222222;
    --default-button: #444444;
    --active-nav: #111111;
    --nav-border: #555555;
    --project-img-border: #9c9c9c;
    --breadcrumb-link: #84a1c2;
    --content-line: #444444;
    --code-bg: #535353;
    
    --toggle-thumb: #000000;
    --toggle-track:  #4d4d4d;

    --tech-stack-section: #222933;
    --tech-stack-border: #0059ff;

    --hover-nav-text: #1A1A1A;
    --hover-default-button: #555555; 
    --hover-project-preview: #333333;
    --hover-breadcrumb-link: #a0c0e5;
}