:root {
    /* General */
    --standard-text: #1A1A1A;
    --always-white: #ffffff;
    --site-background: #eceff1;
    --nav-background: #ffffff;
    --default-button: #ffffff;
    --active-nav: #dee8f3;

    --toggle-thumb: #ffffff;
    --toggle-track: #ccc;
}

[data-theme="dark"] {
    /* General */
    --standard-text: #ffffff;
    --site-background: #111111;
    --nav-background: #3c3c3c;
    --default-button: #444444;
    --active-nav: #1A1A1A;
    
    --toggle-thumb: #000000;
    --toggle-track:  #4d4d4d;
}