.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.exp-header {
    flex-grow: 1;
}

.view-resume {
  margin: 1rem 0;
}

.exp-preview-container {
    padding: 2rem;
    margin-top: 1.5rem;
    transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease;
    background-color: var(--project-preview);
    border-radius: 0.5rem;
    border: 2px solid var(--hover-project-preview);
    min-height: 8rem;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.exp-preview-container:hover {
    background-color: var(--hover-project-preview);
}

.resume-breadcrumb-container {
    margin-bottom: 1rem;
}

.resume-content {
  margin-bottom: 3rem !important;
}

.resume-frame {
  width: 100%;
  height: calc(100vh - 160px); /* adjust for your header/breadcrumb height */
  border: none;
}

.resume-actions {
  margin: 0.5rem 0 1rem;
}

.experience-date {
  font-style: italic;
  margin: 0;
}