.home-page {
  display: flex;
  flex-direction: column;
  height: 70vh;
}

.home-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-header {
    font-size: var(--name-header-size);
    margin: 0;
}

[data-theme="dark"] .name-header {
    text-shadow:
        0 0 6px rgb(255 255 255 / 40%),
        0 0 10px rgb(255 255 255 / 20%);
}

.name-desc {
    font-size: 1.3rem;
    width: var(--home-desc-width);
    text-align: center;
    font-weight: 600;
    opacity: 0;

}

[data-theme="dark"] .name-desc {
    text-shadow:
        0 0 3px rgb(255 255 255 / 40%),
        0 0 5px rgb(255 255 255 / 20%);
}

.contact-button-container {
    margin-top: var(--home-contact-margin-top);
    display: flex;
    gap: var(--home-contact-button-gap);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gmail-image {
    height: 1.563rem;
}

.linkedin-image {
    height: 1.5rem;
    border-radius: 0.25rem;
}

.yt-image {
    height: 1.25rem;
}

@keyframes flyInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes flyInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes flyInUp {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fly-in-left {
  animation: flyInLeft 0.6s ease-out forwards;
}

.fly-in-right {
  animation: flyInRight 0.6s ease-out forwards;
  animation-delay: 0.3s;
}

.fly-in-bottom-1 {
  animation: flyInUp 0.3s ease-out forwards;
  animation-delay: 0.75s;
}

.fly-in-bottom-2 {
  animation: flyInUp 0.3s ease-out forwards;
  animation-delay: 0.90s;
}

.fly-in-bottom-3 {
  animation: flyInUp 0.3s ease-out forwards;
  animation-delay: 1.05s;
}
