.home-page {
  display: flex;
  flex-direction: column;
  height: 70vh;
}

.home-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-header {
    font-size: var(--name-header-size);
    margin: 0;
}

[data-theme="dark"]
.name-header {
    text-shadow:
        0 0 6px rgb(255 255 255 / 40%),
        0 0 10px rgb(255 255 255 / 20%);
}

.name-desc {
    font-size: 1.3rem;
    width: var(--home-desc-width);
    text-align: center;
    font-weight: 600;
}

[data-theme="dark"]
.name-desc {
    text-shadow:
        0 0 3px rgb(255 255 255 / 40%),
        0 0 5px rgb(255 255 255 / 20%);
}

.contact-button-container {
    margin-top: var(--home-contact-margin-top);
    display: flex;
    gap: var(--home-contact-button-gap);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gmail-image {
    height: 1.563rem;
}

.linkedin-image {
    height: 1.5rem;
    border-radius: 0.25rem;
}

.yt-image {
    height: 1.25rem;
}