@import 'colors.css';
@import 'home.css';
@import 'navbar.css';
@import 'projects.css';

/* This stylesheet contains everything shared by more than 1 page / component. */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--standard-text);
  background-color: var(--site-background) !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  width: 65%;
  margin: 0 auto;
}

.left-guide-button {
  left: 2rem;
}

.right-guide-button {
  right: 2rem;
}

.left-guide-button, .right-guide-button {
  position: absolute;
  bottom: 2.25rem;
  height: 2.25rem;
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--default-button);
  color: var(--standard-text);
  border: none;
  border-radius: 0.375rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.page-header {
  font-size: 5rem;
}