/* ========================================================================================================================================

This page is responsible for the full scaling of the site. Listed below
are the variables and what they do

--site-font-size: Global font size; What rem is based off of
--content-width: Width of content user interacts / reads (increases with screen size)
--main-page-header-size: Projects, Experience
--main-page-header-align: Alignment of the description of the above headers
--detail-page-header-size: Speed Roulette, Submitty, Rensselaer Polytechnic Institute, etc

I'm not going to put every variable here, instead I made them as explicit as possible.

======================================================================================================================================== */

/* Mobile */
@media (max-width: 640px) {
    :root {
        /* Site / Index */
        --content-background: var(--site-background);
        --site-font-size: 12px;
        --content-width: 90%;
        --content-padding: 0 1rem;

        /* Nav Bar */
        --nav-link-gap: .75rem;

        /* Home */
        --name-header-size: 4rem;
        --home-desc-width: 85%;
        --full-contact-button-visibility: none;
        --contact-button-icon-visibility: flex;
        --home-contact-margin-top: 1rem;
        --home-contact-button-gap: 3rem;

        /* Main Project / Experience */
        --main-page-header-size: 3rem;
        --main-page-header-align: center;
        --main-page-grid-columns: 1fr;
        --experience-header-flex-direction: column;
        --project-desc-size: 1.125rem;
        --project-date-size: 1.125rem;
        --desktop-resume-button-display: none;
        --mobile-resume-button-display: flex;

        /* Text Content */
        --detail-page-header-size: 3rem;
        --text-content-padding: .3rem .5rem;
        --text-page-header-size: 2rem;
        --text-body-max-img-width: 100%;
        --text-content-bg-shadow: none;
        --text-content-p-size: 1.2rem;
        --text-content-code-size: 1rem;
        --text-content-h3-size: 1.3rem;
    }
}

/* Tablets */
@media (min-width: 641px) {
    :root {
        /* Site / Index */
        --site-font-size: 13px;
        --content-width: 80%;

        /* Nav Bar */
        --nav-link-gap: 2rem;

        /* Home */
        --name-header-size: 5rem;
        --home-desc-width: 80%;
        --full-contact-button-visibility: none;
        --contact-button-icon-visibility: flex;
        --home-contact-margin-top: 1.5rem;
        --home-contact-button-gap: 3.75rem;

        /* Main Project / Experience */
        --main-page-header-size: 3rem;
        --main-page-header-align: left;
        --main-page-grid-columns: repeat(2, 1fr);
        --experience-header-flex-direction: row;
        --project-desc-size: 1rem;
        --project-date-size: 1rem;
        --desktop-resume-button-display: none;
        --mobile-resume-button-display: flex;

        /* Text Content */
        --text-content-padding: 3rem 5rem;
        --text-page-header-size: 3rem;
        --text-body-max-img-width: 100%;
        --text-content-bg-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        --text-content-p-size: 1.15rem;
        --text-content-code-size: 0.95rem;
        --text-content-h3-size: 1.125rem;
    }
}

/* Small Laptops */
@media (min-width: 1024px) {
    :root {
        /* Site / Index */
        --site-font-size: 14px;
        --content-width: 70%;

        /* Nav Bar */

        /* Home */
        --name-header-size: 6rem;
        --home-desc-width: 65%;
        --full-contact-button-visibility: flex;
        --contact-button-icon-visibility: none;
        --home-contact-margin-top: 3rem;

        /* Main Project / Experience */
        --main-page-header-size: 3rem;
        --main-page-header-align: left;
        --desktop-resume-button-display: flex;
        --mobile-resume-button-display: none;

        /* Text Content */
        --text-content-padding: 3rem 5rem;
        --text-body-max-img-width: 90%;
        --text-content-h3-size: 1.25rem;
    }
}

/* Desktop*/
@media (min-width: 1280px) {
    :root {
        /* Site / Index */
        --site-font-size: 16px;
        --content-width: 60%;

        /* Nav Bar */

        /* Home */
        --home-desc-width: 60%;

        /* Main Project / Experience */
        --main-page-header-size: 3rem;
        --main-page-header-align: left;

        /* Text Content */
        --text-content-padding: 3rem 5rem;
        --text-page-header-size: 3rem;
        --text-body-max-img-width: 80%;
        --text-content-h3-size: 1.25rem;
    }
}

/* Big Desktops */
@media (min-width: 2560px) {
    :root {
        /* Site / Index */
        --site-font-size: 18px;
        --content-width: 50%;

        /* Nav Bar */

        /* Home */
        --home-desc-width: 45%;

        /* Main Project / Experience */
        --main-page-header-size: 4rem;
        --main-page-header-align: left;

        /* Text Content */
        --text-content-padding: 3rem 5rem;
        --text-page-header-size: 4rem;
        --text-body-max-img-width: 80%;
        --text-content-h3-size: 1.25rem;
    }
}
