/* Styling for anything inside of a text-body div.
   Basically my own version of Jekyll! */

.text-page-header-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.text-page-header {
    font-size: var(--text-page-header-size);
    flex-grow: 1;
    margin: 0;
}

#text-body h2 {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.80rem;
    font-weight: bold;
    unicode-bidi: isolate;
}

#text-body h3 {
  padding-top: 0.50rem;
  margin: 0 0 0.30rem 0;
  font-size: 1.45rem;
}

#text-body h4 {
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 1.35rem;
}

#text-body p {
  margin: 0 0 2rem 0;
  font-size: var(--text-content-p-size);
  line-height: 1.55rem;
  letter-spacing: 0.01em;
}

#content-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

#text-body img {
  border-radius: 0.75rem;
  border: 2px solid var(--project-img-border);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  max-width: var(--text-body-max-img-width);
  height: auto;
}

#content-img-container p {
  font-style: italic;
  text-align: center;
  width: var(--content-img-p-width);
}

#text-body hr {
  margin: 0;
  margin: 3rem 0;
  border: 0;
  height: 1px;
  background: var(--content-line);
  transition: color 0.2s ease, background-color 0.2s ease;
}

#text-body a {
  text-decoration: none;
  color: var(--anchor-link);
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;
  font-weight: 600;
}

#text-body a:hover {
  text-decoration: underline;
  color: var(--hover-anchor-link);
}

#text-body ul {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: var(--text-content-p-size)
}

#text-body code {
  font-size: var(--text-content-code-size);
  font-weight: 600;
  background-color: var(--code-bg);
  padding: 0.1rem 0.4rem;
  border-radius: 4px;
  font-family: monospace;
  transition: color 0.2s ease, background-color 0.2s ease;
}

#security-list p {
  margin: 0;
  margin: 0.25rem 0;
}

.display-grid {
  display: grid;
  grid-template-columns: var(--main-page-grid-columns);
  grid-template-rows: repeat(4, auto);
  gap: 12px;
}
.display-grid-cell {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-height: 80px;
  border: 2px solid var(--project-img-border);
  border-radius: 8px;
  padding: 1rem;
}

.display-grid-cell p {
  font-size: 1rem !important;
}

.display-grid-cell img {
  height: 5rem !important;
  border: none !important;
}

.hide-read-more-container {
  display: none;
}

.read-more-btn-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 4rem;
}

.read-more-btn {
  font-family: var(--site-font);
  transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease, transform 0.2s ease;
  width: 8rem;
  padding: 0.50rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  color: var(--anchor-link);
  border: 2px solid var(--anchor-link);
  border-radius: 0.375rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.read-more-btn:focus,
.read-more-btn:focus-visible {
    border: 2px solid var(--anchor-link);
}

.read-more-btn:hover {
  background: var(--anchor-link);
  color: var(--hover-read-more-text);
  transform: scale(1.05);
  cursor: pointer;
}